@use "base/variables" as var;
@use "base/mixins" as mix;

.boton {
   @include mix.boton();
}

.btn-yellow {
   @include mix.btn-yellow;
   margin-top: 4rem;
   min-width: 230px;
   display: grid;
}

.boton-rojo-block {
   @include mix.boton(var.$rojo, block);
   display: grid;
}

.boton-verde-block {
   @include mix.boton(var.$softGold, block);
   display: grid;
}
