@use "base/variables" as var;

.dark-mode {
   background-color: var.$marinoDark;

   p {
      color: var.$softGold;
   }

   a,
   h1,
   h2,
   h3,
   h4,
   blockquote {
      color: var.$gris;
   }

   .anuncio {
      background-color: var.$brown;
      box-shadow: none;
      h3 {
         color: var.$blanco;
      }
      .iconos-caracteristicas {
         li {
            svg {
               color: var.$blanco;
            }
         }
      }
   }

   //   formulario
   .form {
      fieldset {
         border: 1px solid var.$softGold;
      }
      legend {
         color: var.$softGold;
      }
      input:not([type="submit"]),
      select,
      textarea {
         background-color: rgb(235, 213, 186);
      }
      p {
         color: var.$gris;
      }
   }
}
