@use 'base/variables' as var;

.dark-mode {
   background-color: var.$marinoDark;

   p {
      color: var.$softGold !important;
   }

   a,
   h1,
   h2,
   h3,
   h4,
   blockquote {
      color: var.$gris;
   }

   .anuncio {
      background-color: var.$brown;
      box-shadow: none;
      h3 {
         color: var.$blanco;
      }
      .iconos-caracteristicas {
         li {
            svg {
               color: var.$blanco;
            }
         }
      }
   }

   .resumen-propiedad {
      .iconos-caracteristicas {
         li {
            svg {
               color: var.$blanco;
            }
         }
      }
   }

   //   formulario
   .form {
      fieldset {
         border: 1px solid var.$softGold;
      }
      legend {
         color: var.$softGold;
      }
      input:not([type='submit']),
      select,
      textarea {
         background-color: rgb(235, 213, 186) !important;
         color: #000 !important; // Texto oscuro para contraste
         border: 1px solid #a07d64; // Un borde más definido
      }
      input::placeholder,
      textarea::placeholder {
         color: rgba(0, 0, 0, 0.6) !important; // Color más tenue para el placeholder
      }
      p {
         color: var.$gris;
      }
      label {
         color: var.$softGold;
      }
   }

   table {
      tr {
         td {
            color: white;
         }
      }
   }
   .boton {
      color: white;
      &:hover {
         background-color: var.$softGold;
      }
   }
}
