@use "base/variables" as var;

html {
   font-size: 62.5%;
   box-sizing: border-box;
}
*,
*:before,
*:after {
   box-sizing: inherit;
}
body {
   font-family: var.$fuente_principal;
   font-size: 1.6rem !important;
   line-height: 1.8;
}
p {
   color: var.$negro;
   font-size: 2rem;
}
.contenedor {
   width: 90%;
   max-width: 120rem;
   margin: 0 auto;
}

a {
   text-decoration: none !important;
}

img,
picture {
   width: 100%;
   display: block;
}

h1,
h2,
h3 {
   font-family: var.$fuente_principal;
   font-weight: 300;
   text-align: center;
   color: var.$marino;
}

h1 {
   font-size: 3.4rem !important;
}
h2 {
   font-size: 3.4rem !important;
}
h3 {
   font-size: 3rem !important;
}
h4 {
   font-size: 2.6rem !important;
}

// What's icon
.whats-container {
   position: relative;
   .whats-icon {
      position: sticky;
      top: 4rem;
      z-index: 2000;
      left: 0;
      color: var.$softGold;
      font-size: 2.5rem;
      @media (min-width: 768px) {
         top: 4rem;
         z-index: 2000;
         left: 8rem;
         font-size: 4rem;
      }
   }
}
