@use "../base/variables" as vars;

.imagen-contacto {
   background-image: url(../../../build/img/encuentra.jpg);
   max-width: 100%;
   background-position: center center;
   background-size: cover;
   padding: 5rem 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 35rem;
   justify-content: center;
   background-attachment: fixed;

   @media (min-width: 768px) {
      height: 50rem;
   }

   h2 {
      color: vars.$softGold;
   }

   p {
      color: vars.$blanco;
   }
}

/* Soporte para AVIF en navegadores compatibles */
@supports (background-image: url("data:image/avif;base64,UklGR")) {
   .imagen-contacto {
      background-image: url(../../../build/img/encuentra.webp);
   }
}
