@use "base/variables" as var;

.footer {
   padding: calc(var.$separacion / 2);
   background-color: var.$marinoDark;
   // margin-top: 6rem;

   .contenedor-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      nav {
         .link-footer {
            color: var.$softGold;
            font-size: 1.5rem;
            text-align: center;
            text-decoration: none;
            margin-right: 1rem;
            background-image: linear-gradient(var.$softGold, var.$gold);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size 0.3s ease-in-out;

            &:hover,
            &:focus {
               background-size: 100% 2px;
            }

            @media (min-width: 768px) {
               font-size: 2.2rem;
            }
         }
      }

      img {
         max-width: 200px;
         width: 100%; // Permite que la imagen se adapte sin perder proporción

         @media (min-width: 768px) {
            max-width: 200px;
         }
      }
   }

   .copyright {
      text-align: center;
      color: var.$softGold;
      font-size: 1rem;
   }
}
