@use "base/variables" as var;
@use "base/mixins";

// Evita la duplicación de background-image
.no-webp .inicio,
.webp .inicio {
   background-image: url("../../build/img/header.webp");
   max-width: 100%;
}

.webp {
   .header {
      background-color: var.$marinoDark;
      .navbar {
         background-color: transparent;
      }

      &.inicio,
      &.inicio .contenido-header {
         background-position: center center;
         background-size: cover;
         @include mixins.tablet {
            min-height: 70rem;
         }
      }
   }

   .contenido-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h1 {
         text-align: center;
         color: var.$softGold;
         margin-bottom: 3rem;

         @media (min-width: 768px) {
            text-align: start;
         }
      }
   }
}
