.no-webp .inicio {
  background-image: url(../../../build/img/header.jpg);
  max-width: 100%;
}

.webp .inicio {
  background-image: url(../../../build/img/header.jpg);
  max-width: 100%;
}

.header {
  background-color: $marinoDark;
  // padding: 2rem 0 2rem 0;
  .navbar {
    background-color: transparent !important;
  }

  &.inicio {
    background-position: center center;
    background-size: cover;
    @include tablet {
      min-height: 70rem;
    }

    .contenido-header {
      @include tablet {
        min-height: 70rem;
      }
    }
  }
}

.contenido-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    text-align: left;
    color: $softGold;
    text-align: center;
    @media (min-width: 768px) {
      text-align: start;
    }
  }
}
