@use "base/variables" as var;
@use "base/mixins" as mix;

.iconos-nosotros {
   margin-top: 1rem;
   @include mix.tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      margin-top: 2rem;
   }
}

.icono {
   text-align: center;
   svg {
      color: var.$softGold;
      height: 10rem;
   }
   h3 {
      text-transform: uppercase;
   }
   margin-bottom: 2rem;
}
