@use "../base/mixins" as mix;
@use "../base/variables" as vars;

.seccion-inferior {
   @include mix.tablet {
      display: grid;
      grid-template-columns: 2fr 1fr;
   }
}

.seccion-inferior .blog h3 {
   margin: 2rem 0;
}

.entrada-blog {
   margin-bottom: 2rem;

   &:last-of-type {
      margin-bottom: 0;
   }

   @include mix.tablet {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 2rem;
   }
}

.informacion-meta span {
   color: vars.$softGold;
}

.texto-entrada a {
   color: vars.$negro;
}

.texto-entrada h4 {
   font-weight: 700;
   margin-top: 1rem;

   &::after {
      content: "";
      display: block;
      width: 20rem;
      height: 0.5rem;
      background-color: vars.$softGold;
      margin-top: 1rem;
   }
}
