@use "base/variables" as var;

.navbar {
   background-color: var.$marinoDark;
   position: relative;

   .container-fluid {
      .navbar-brand img {
         max-width: 220px;
         height: auto;
      }

      .navbar-collapse .navbar-nav .nav-item {
         margin-right: 1rem;

         .nav-link {
            color: var.$softGold;
            font-size: 2.2rem;
            text-align: center;

            @media (min-width: 768px) {
               text-align: start;
               text-decoration: none;
               background-image: linear-gradient(var.$softGold, var.$gold);
               background-position: 0% 100%;
               background-repeat: no-repeat;
               background-size: 0% 2px;
               transition: background-size 0.3s;

               &:hover,
               &:focus {
                  background-size: 100% 2px;
               }
            }
         }
      }
   }
}

.btnDark {
   font-size: 1.6rem;
   position: absolute;
   top: 2rem;
   color: var.$softGold;
   cursor: pointer;

   @media (min-width: 768px) {
      font-size: 3rem;
      left: -4rem;
   }
}
