@use "../base/mixins" as mix;

.contenido-nosotros {
   @include mix.tablet {
      @include mix.grid(2, 2rem);
   }
}

.texto-nosotros {
   blockquote {
      font-weight: 700;
      font-size: 2.2rem !important;
      padding: 1rem 0 3rem 0;
   }
}
