@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/** Media Queries **/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.6rem !important;
  line-height: 1.8;
}

p {
  color: #000000;
  font-size: 2rem;
}

.contenedor {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none !important;
}

img,
picture {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300;
  text-align: center;
  color: #064663;
}

h1 {
  font-size: 3.4rem !important;
}

h2 {
  font-size: 3.4rem !important;
}

h3 {
  font-size: 3rem !important;
}

h4 {
  font-size: 2.6rem !important;
}

.whats-container {
  position: relative;
}
.whats-container .whats-icon {
  position: sticky;
  top: 4rem;
  z-index: 2000;
  left: 0;
  color: #c69749;
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .whats-container .whats-icon {
    top: 4rem;
    z-index: 2000;
    left: 8rem;
    font-size: 4rem;
  }
}

.seccion {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.contenido-centrado {
  max-width: 800px;
}

.boton {
  background-color: transparent;
  border: 2px solid #064663;
  color: #064663;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease 0.2s;
  border-radius: 10px;
  max-width: 200px;
  height: 30px;
  margin: 0 auto;
  cursor: pointer;
}
.boton:hover {
  background-color: #064663;
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
}

.btn-yellow {
  background-color: #c69749;
  border: 2px solid transparent;
  color: #064663;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease 0.2s;
  border-radius: 10px;
  max-width: 200px;
  height: 30px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 4rem;
  min-width: 230px;
}
.btn-yellow:hover {
  background-color: #064663;
  color: #c69749;
  border: 1px solid transparent;
}

.dark-mode {
  background-color: #04293a;
}
.dark-mode p {
  color: #c69749;
}
.dark-mode a,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode blockquote {
  color: #e1e1e1;
}
.dark-mode .anuncio {
  background-color: #3d3114;
  box-shadow: none;
}
.dark-mode .anuncio h3 {
  color: white;
}
.dark-mode .anuncio .iconos-caracteristicas li svg {
  color: white;
}
.dark-mode .form fieldset {
  border: 1px solid #c69749;
}
.dark-mode .form legend {
  color: #c69749;
}
.dark-mode .form input:not([type=submit]),
.dark-mode .form select,
.dark-mode .form textarea {
  background-color: rgb(235, 213, 186);
}
.dark-mode .form p {
  color: #e1e1e1;
}

.no-webp .inicio {
  background-image: url(../../../build/img/header.jpg);
  max-width: 100%;
}

.webp .inicio {
  background-image: url(../../../build/img/header.jpg);
  max-width: 100%;
}
.webp .header {
  background-color: #04293a;
}
.webp .header .navbar {
  background-color: transparent !important;
}
.webp .header.inicio {
  background-position: center center;
  background-size: cover;
}
@media (min-width: 768px) {
  .webp .header.inicio {
    min-height: 70rem;
  }
}
@media (min-width: 768px) {
  .webp .header.inicio .contenido-header {
    min-height: 70rem;
  }
}
.webp .contenido-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.webp .contenido-header h1 {
  text-align: center;
  color: #c69749;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .webp .contenido-header h1 {
    text-align: start;
  }
}

.footer {
  padding: 2.5rem;
  background-color: #04293a;
  margin-top: 6rem;
}
.footer .contenedor-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .contenedor-footer nav .link-footer {
  color: #c69749 !important;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  margin-right: 1rem;
  text-decoration: none !important;
  background-image: linear-gradient(#c69749, #735f32) !important;
  background-position: 0% 100% !important;
  background-repeat: no-repeat !important;
  background-size: 0% 2px !important;
  transition: background-size 0.3s !important;
}
.footer .contenedor-footer nav .link-footer:hover,
.footer .contenedor-footer nav .link-footer :focus {
  background-size: 100% 2px !important;
}
@media (min-width: 768px) {
  .footer .contenedor-footer nav .link-footer {
    font-size: 2.2rem;
  }
}
.footer .contenedor-footer img {
  width: 80px;
}
@media (min-width: 768px) {
  .footer .contenedor-footer img {
    width: 200px;
  }
}
.footer .copyright {
  text-align: center;
  color: #c69749;
  font-size: 1rem;
}

.navbar {
  background-color: #04293a !important;
  position: relative;
}
.navbar .container-fluid .navbar-brand img {
  width: 100px;
  height: auto;
}
@media (min-width: 768px) {
  .navbar .container-fluid .navbar-brand img {
    width: 220px;
  }
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  margin-right: 1rem;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #c69749 !important;
  font-size: 2.2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
    text-align: start;
    text-decoration: none !important;
    background-image: linear-gradient(#c69749, #735f32) !important;
    background-position: 0% 100% !important;
    background-repeat: no-repeat !important;
    background-size: 0% 2px !important;
    transition: background-size 0.3s !important;
  }
  .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover,
  .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link :focus {
    background-size: 100% 2px !important;
  }
}

.btnDark {
  font-size: 1.6rem;
  position: absolute;
  top: 2rem;
  color: #c69749;
  cursor: pointer;
}
@media (min-width: 768px) {
  .btnDark {
    font-size: 3rem;
    left: -4rem;
  }
}

.iconos-nosotros {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .iconos-nosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
  }
}

.icono {
  text-align: center;
  margin-bottom: 2rem;
}
.icono svg {
  color: #c69749;
  height: 10rem;
}
.icono h3 {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .contenedor-anuncios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 4rem;
  }
}
.anuncio {
  border-radius: 38px;
  background: #ededed;
  box-shadow: 20px 20px 60px #c9c9c9, -20px -20px 60px #ffffff;
  margin-bottom: 2rem;
}
.anuncio picture img {
  border-radius: 3rem;
}
.anuncio .contenido-anuncio {
  padding: 2rem;
}
.anuncio h3 {
  margin-bottom: 0;
  font-size: 2.7 rem !important;
  color: #064663;
}

.precio {
  color: #c69749;
  font-weight: 500;
  font-size: 2.4rem;
}

.iconos-caracteristicas {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  max-width: 40rem;
  padding-left: 0;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.iconos-caracteristicas li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.iconos-caracteristicas li p {
  margin-bottom: 0;
  color: #c69749;
  font-family: 2.4rem;
  font-weight: 500;
}
.iconos-caracteristicas li svg {
  color: #064663;
  font-size: 3rem;
}

.imagen-contacto {
  background-image: url(../../../build/img/encuentra.jpg);
  max-width: 100%;
  background-position: center center;
  background-size: cover;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35rem;
  justify-content: center;
  background-attachment: fixed;
}
@media (min-width: 768px) {
  .imagen-contacto {
    height: 50rem;
  }
}
.imagen-contacto h2 {
  color: #c69749 !important;
}
.imagen-contacto p {
  color: white;
}

@media (min-width: 768px) {
  .seccion-inferior {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .seccion-inferior .blog h3 {
    margin: 2rem 0;
  }
}
.entrada-blog {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .entrada-blog {
    display: grid;
    grid-template-columns: 1fr 2fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.entrada-blog:last-of-type {
  margin-bottom: 0;
}

.informacion-meta span {
  color: #c69749;
}

.texto-entrada a {
  color: black;
}
.texto-entrada a:hover {
  color: black;
}
.texto-entrada h4 {
  font-weight: 700;
  margin-top: 1rem;
}
.texto-entrada h4::after {
  content: "";
  display: block;
  width: 20rem;
  height: 0.5rem;
  background-color: #c69749;
  margin-top: 1rem;
}

.testimonial {
  background-color: #04293a;
  font-size: 2.4rem !important;
  padding: 2rem;
  color: #c69749;
  border-radius: 25px;
}
.testimonial p {
  color: white;
  text-align: end;
  font-style: italic;
}

.form fieldset {
  border: 1.5px solid #064663;
  border-radius: 25px;
  padding: 2rem;
  margin-bottom: 3rem;
}
.form p {
  font-size: 1.4rem;
  color: #064663;
}
.form legend {
  font-size: 2rem;
  color: #064663;
  font-weight: 400;
}
.form label {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}
.form input:not([type=submit]),
.form textarea,
.form select {
  padding: 1rem;
  display: block;
  width: 100%;
  background-color: white;
  border: 1px solid #c69749;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.form .forma-contacto {
  max-width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form input[type=radio] {
  margin: 0;
  width: auto;
}

@media (min-width: 768px) {
  .contenido-nosotros {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.texto-nosotros blockquote {
  font-weight: 700;
  font-size: 2.2rem !important;
  padding: 1rem 0 3rem 0;
}/*# sourceMappingURL=app.css.map */