// 🟢 Base
@use 'base/normalize';
@use 'base/variables' as *;
@use 'base/mixins' as mix;
@use 'base/globales';
@use 'base/utilidades';
@use 'base/botones';
@use 'base/darkMode';

// 🟢 Componentes UI
@use 'layout/header';
@use 'layout/footer';
@use 'layout/navegacion';
@use 'layout/iconos';
@use 'layout/anuncios';
@use 'layout/contactar';
@use 'layout/inferior';
@use 'layout/testimoniales';
@use 'layout/formulario';

// 🟢 Páginas internas
@use 'internas/nosotros';
@use 'internas/admin';
@use 'internas/colaboradores';

// 🟢 Estilos específicos
.header {
   background-color: $marinoDark; // Se reemplaza el color hexadecimal por la variable
}

.bg-light {
   background-color: transparent !important;
}

.bg-light {
   background-color: transparent !important;
   --bs-bg-opacity: 0 !important;
}

.txt-header {
   color: $softGold !important;
}

h1.mi-clase {
   font-size: 2.7rem;
   color: $blanco;
   text-align: center;
   font-weight: bold;
   max-width: 330px;
   margin: auto;
   padding-bottom: 1.2rem;

   @media (min-width: 768px) {
      font-size: 5rem;
      max-width: 900px;
      padding-bottom: 3.4rem;
   }
}

button {
   display: flex;
   justify-content: center;
   align-items: center;
}
