@use "base/normalize";
@use "./base/variables" as *;
@use "base/mixins" as mix;
@use "base/globales";
@use "base/utilidades";
@use "base/botones";
@use "base/darkMode";

// ------ UI ------
@use "layout/header";
@use "layout/footer";
@use "layout/navegacion";
@use "layout/iconos";
@use "layout/anuncios";
@use "layout/contactar";
@use "layout/inferior";
@use "layout/testimoniales";
@use "layout/formulario";

// Internas
@use "internas/nosotros";
@use "internas/admin";

.header {
   background-color: #04293a !important;
}

.bg-light {
   background-color: none !important;
}

.txt-header {
   color: softGold !important;
}

h1.mi-clase {
   font-size: 2.7rem !important;
   color: white !important;
   text-align: center;

   position: relative;
   top: 0rem;
   max-width: 330px;
   font-weight: bold;
   margin: auto;
   padding-bottom: 1.2rem;
   @media (min-width: 768px) {
      font-size: 5rem !important;
      text-align: center;

      max-width: 900px;
      padding-bottom: 3.4rem;
   }
}

button {
   display: flex;
   justify-content: center;
   align-items: center;
}
